@model IEnumerable<ProyectoSGAIE.Models.Alumno>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Crear Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdAlumno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CondicionAlumno)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdAlumno)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CondicionAlumno)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdAlumno">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.IdAlumno">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.IdAlumno">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
